body,
.horizontal-list a,
#arrow-down,
nav li a,
form input,
form textarea,
form button,
.fa,
.fab,
#stickytopbar {
  color: white;
}

.menu-toggle span {
  background-color: white;
}

aside,
main,
article h1,
footer,
form input,
textarea,
.pages,
form button,
#stickytopbar ul {
  background-image: linear-gradient(45deg, #2857a4 0%, #403066 50%);
}

#stickytopbar,
aside {
  background-color: rgb(68, 65, 117);
}

.top-navbar li a:active,
.horizontal-list li a:active {
  transition: 0.3s;
  background-color: #2857a4;
  font-weight: bold;
}

.top-navbar li a:hover,
.horizontal-list ul li a:hover {
  border-bottom: 4px solid #fff;
}

header #arrow-down:active {
  color: #2857a4;
  transition: 0.5s;
}

.flip-card:hover .flip-card-inner {
  background-color: rgb(47, 22, 87);
}
