/* ///////////////////SMALL DEVICE/////////////////////// */

@media only screen and (max-width: 900px) {
  .jumbotron h1 {
    padding-top: 30%;
  }

  main {
    width: 100%;
  }

  aside {
    display: none;
    visibility: hidden;
  }

  .top-navbar li a {
    display: none;
  }

  main #hamburger {
    top: 5px;
    left: 10px;
    font-size: 30px;
    position: absolute;
    cursor: pointer;
  }

  .pages {
    width: 100%;
    min-height: 100vh;
    text-align: justify;
    padding: 25% 10%;
  }

  .flex-container {
    flex-direction: column;
  }

  .top-navbar {
    width: 100%;
    height: 50px;
    padding: 10px;
    z-index: 10;
    font-size: 20px;
    overflow: hidden;
  }

  .top-navbar li a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .top-navbar li a:hover {
    font-weight: bold;
  }

  .top-navbar li a:active {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  }
}

/* ///////////////////MEDIUM-LARGE DEVICE/////////////////////// */
@media only screen and (min-width: 900px) {
  /* JUMBOTRON */
  .jumbotron h1 {
    padding-top: 15%;
  }

  /* ASIDE */
  aside.show-on-large {
    float: left;
    clear: left;
    min-height: 100vh;
    width: 22%;
    text-align: center;
    padding: 5%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  }

  /* MAIN */
  main {
    width: 78%;
    top: 0;
    float: right;
    clear: right;
    overflow: hidden;
    min-height: 100vh;
    padding: 5%;
    /* position: relative; */
  }

  /* NAVIGATION */
  aside nav {
    text-align: left;
    height: auto;
    float: left;
    margin-bottom: 15%;
  }

  aside nav li a {
    display: block;
    font-size: 1em;
    padding: 5px 10px;
  }

  aside nav li a:hover {
    transition: 0.3s;
    margin-left: 10px;
  }

  aside nav li a:active {
    transition: 0.3s;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    font-weight: 900;
    border-radius: 10px;
  }

  nav.top-navbar,
  #hamburger {
    display: none;
    visibility: hidden;
  }

  .top-nav .responsive {
    position: relative;
  }

  .top-navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .pages {
    min-height: 95vh;
    text-align: justify;
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  }

  .flex-container {
    flex-direction: row;
  }
}
