/* ///////////////////SMALL DEVICE/////////////////////// */

@media only screen and (max-width: 900px) {
  .jumbotron h1 {
    padding-top: 30%;
  }

  main {
    width: 100%;
  }

  .pages {
    width: 100%;
    min-height: 100vh;
    text-align: justify;
    padding: 10%;
  }

  .flex-container {
    flex-direction: column;
  }

  aside {
    padding-left: 5px;
  }
}

/* ///////////////////MEDIUM-LARGE DEVICE/////////////////////// */
@media only screen and (min-width: 900px) {
  /* JUMBOTRON */
  .jumbotron h1 {
    padding-top: 15%;
  }

  /* ASIDE */
  aside.show-on-large {
    float: left;
    clear: left;
    height: 100%;
    width: 22%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  }

  /* MAIN */
  main {
    width: 78%;
    top: 0;
    float: right;
    clear: right;
    overflow: hidden;
    min-height: 100vh;
    padding: 5%;
    /* position: relative; */
  }

  /* PAGES */
  .pages {
    min-height: 95vh;
    text-align: justify;
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  }

  .flex-container {
    flex-direction: row;
  }
}
