/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  /* color: rgb(66, 38, 16); */
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

/* HEADER */
#navbar {
  background-color: rgb(66, 38, 16);
  padding: 15px 24px;
  top: 0;
}

#navbar a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

#navbar li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.jumbotron {
  min-height: 100vh;
  background-color: cadetblue;
  margin: 0;
  padding: 0;
  background-image: url('../assets/background/kotatuajkt.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

li a:active {
  font-weight: bold;
}

li a:hover {
  border-bottom: 4px solid #ffffff;
}

.pages {
  padding: 50px;
  min-height: 100vh;
}

#about,
#blog,
footer {
  background-color: cadetblue;
  margin: 0;
}
