/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
    /* color: rgb(66, 38, 16); */
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
#navbar {
    background-color: rgb(66, 38, 16);
    padding: 15px 24px;
    top: 0;
    
 }

#navbar a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

#navbar li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.jumbotron {
    min-height: 600px;
    background-color: cadetblue;
    margin: 0;
    padding: 0;
    background-image: url('../assets/background/kotatuajkt.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

li a:active {
    font-weight: bold;
}

li a:hover {
    /*background-color: rgba(138, 103, 103, 0.5);*/
    border-bottom: 4px solid #ffffff;
}

input[type=text] {
    float: right;
    width: 150px;
    height: 25px;
    margin-right: 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 10px;
    padding: 5px;
  }
  
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 30%;
}

#about, #portfolio, #blog, #contact {
    padding: 50px;
    min-height: 1080px;
}

#about, #blog, footer {
    background-color: cadetblue;
    margin: 0;
}

/* MAIN */
/* main {
    
} */